* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header, .footer, .hero {
    background-color: #1F2937;
}

.header, .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    flex-shrink: 0;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 30px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
}

.welcome {
    max-width: 450px;
}

.welcome p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 8px;
    padding: 5px 30px;
    border: none;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 550px;
    color: #E5E7EB;
    background-color: #7c828a;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    text-align: center;
}

.pic {
    height: 150px;
    width: 150px;
    border-width: 5px;
    border: #3882F6;
    border-radius: 15px;
    border-style: solid;
}

h2 {
    font-size: 36px;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    margin: 0px;
    color: #1F2937;
}

.credit {
    font-weight: bold;
    align-self: flex-end;
    color: #1F2937;
    margin: 0px;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
}

.action {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 90px;
    color: #F9FAF8;
    padding: 30px 100px;
    flex-basis: 900px;
}

.sign {
    flex-shrink: 0;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.footer {
    padding: 15px;
}